name: CI Pipeline

on:
  # push:
  #   branches: 
  #     - master
  #   paths:
  #     - 'main.py'
  #     - 'requirements.txt'
  #     - 'Dockerfile'
  #     - 'tests/**'
  #     - '.github/workflows/ci-cd.yaml'

  # pull_request:
  #   branches:
  #     - master
  #   paths:
  #     - 'main.py'
  #     - 'requirements.txt'
  #     - 'Dockerfile'
  #     - 'tests/**'
  #     - '.github/workflows/ci-cd.yaml'

  workflow_dispatch:  

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run lint checks
        run: |
          flake8 .

      - name: Run tests
        run: |
          pytest --cov=./ --cov-report=xml

  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: test  # This ensures build only runs if tests pass 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            emmaxyz/fastapi-service:latest
            emmaxyz/fastapi-service:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max 

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: emmaxyz/fastapi-service:${{ github.sha }}
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'HIGH,CRITICAL'
